<form [formGroup]="todoForm" class="mt-4">
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label col-form-label-lg"
      >Title:</label
    >
    <div class="col-sm-10">
      <input
        type="text"
        id="title"
        name="title"
        formControlName="title"
        class="form-control form-control-lg"
      />
    </div>
  </div>
  <table class="table table-bordered" formArrayName="todo">
    <tr>
      <th colspan="2">Add Task</th>
      <th width="150px"><button (click)="addNewTodo()">Add</button></th>
    </tr>
    <tr *ngFor="let todo of todo().controls; let i = index" [formGroupName]="i">
      <td>
        Task {{ i + 1 }}:
        <input type="text" formControlName="title" class="form-control form-control-lg"/>
      </td>
      <td>
        <button (click)="removeNewTodo(i)">Remove</button>
      </td>
    </tr>
  </table>
  <button (click)="addTodoList()">Add Todo-list</button>
</form>
<div *ngIf="alert" class="mt-4">
  <h1>
    <pre style="color: red">{{messageAlert}}</pre>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 icon"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
      />
    </svg>
  </h1>
</div>
